[Unit]
BindsTo=%i.device
After=%i.device

[Service]
Type=oneshot
TimeoutStartSec=0
Environment=DEVNAME=/%I
ExecStart=/opt/usbmount/usbmount add
ExecStop=/opt/usbmount/usbmount remove
RemainAfterExit=yes